@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    word-break: keep-all;
  }

  p {
    white-space: pre-line;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  select,
  textarea {
    @apply ring-2 p-3;
  }

  textarea {
    @apply w-full my-3;
  }

  h1 {
    @apply text-2xl font-black;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply text-base font-semibold text-gray-400;
  }
}

@layer components {
  .boldAndSpace {
    @apply font-bold mr-4;
  }

  .myBtn {
    @apply rounded-xl p-2 font-semibold hover:bg-blue-200 bg-blue-100 ml-2;
  }

  .small-btn {
    @apply rounded-lg px-2 font-semibold  hover:bg-blue-200 bg-blue-100 ml-2;
  }

  .red-btn {
    @apply rounded-xl p-2 font-semibold hover:bg-red-200 bg-red-100 ml-2;
  }

  .gray-btn {
    @apply p-1 bg-gray-100 hover:bg-gray-200;
  }

  .w-full-btn {
    @apply w-full bg-blue-300 hover:bg-blue-500 duration-100 p-4 rounded-md text-white;
  }

  .inputBorder {
    @apply;
  }

  .container {
    @apply md:w-4/5 p-4;
  }

  .ver-gap8-grid {
    @apply gap-8 grid grid-flow-row;
  }

  .ver-gap5-grid {
    @apply gap-5 grid grid-flow-row;
  }

  .ver-gap2-grid {
    @apply gap-2 grid grid-flow-row;
  }

  .ver-gap1-grid {
    @apply gap-1 grid grid-flow-row;
  }

  .big-profile {
    @apply rounded-full w-40 h-40 object-cover shadow-xl;
  }

  .stack-grid {
    @apply grid gap-5 lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 my-3;
  }
}

/* 기본 레이아웃 - 페이지 높이, 넓이가 작아도 화면을 꽉 채우게 (배경색) */
html,
body,
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

/* 페이지 전환 트랜지션 */
.page-enter-active,
.page-leave-active {
  @apply transition-all duration-200;
}
.page-enter {
  @apply opacity-0 translate-x-10;
}
.page-leave-to {
  @apply opacity-0 -translate-x-10;
}

/* 토글버튼 css */
.toggle-circle {
  top: 0.2rem;
  left: 0.25rem;
}

input:checked ~ .toggle-circle {
  /* @apply translate-x-full */
  transform: translateX(100%);
}

input:checked ~ .toggle-path {
  @apply bg-blue-200;
}
